@charset "utf-8";
body {
    padding-top: 70px;
    background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png'); 
}

p {
    font-size: 1em;
}


.imagekkk {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}


.gol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    height:40em;
    width:40em;
}

#gmap_canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}

.fancybox-title {
    text-align: center;
}

footer{
    padding: 10px;
    clear: both;
    text-align: center;
}

#promise {
    display: block;
    width: 100%;
    height: 100%;
    
    margin-left: auto;
    margin-right: auto;   
    
    background-position: center;
    color: black;
    text-align: center;
    
}

#promise-container {
    display: block;
}



/*
container #image {
    width: 600px;
}
*/

@media screen and (max-width: 768px) {
    .nav {
        font-size: 1em;
    }
    p {
        font-size: 1em;
    }
    
    .gol {
        height: 300px;
        width: 300px;
    }
}
@media screen and (max-width: 992px) {
    .nav {
        font-size: 13px;
    }
    h2{
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    
